- content_for :head do
  %title Ruby Macros
%h1 Ruby Macros for You
%div.subtitle 
  (a work in progress)
= partial 'content/introduction'
= partial 'content/ruby/'
= partial 'content/string_substitution'
= partial 'content/parse_tree'
= partial 'examples/example1'
= partial 'examples/example2'
= partial 'examples/example3'
= partial 'examples/example4'
= partial 'examples/example5'
= partial 'content/lisp_iteration'
-#= partial 'content/outline'
= partial 'content/conclusion'
-#= partial 'content/social_links_small'
%div.row
  %div.span4
    %img.mugshot{ :src => "/images/caleb_clausen_100x102.jpeg"}
    %p.bio
      Caleb has written far too many C macros and took Gema way too seriously.
  %div.span4
    %img.mugshot{ :src => "/images/blackie4-100x100.jpg"}
    %p.bio
      Dave is software professional specializing in general development, who appreciates TeX's lack of arithmetic operators.
= partial 'content/disqus'
-#= partial 'content/footer'
